QMainWindow {
    font-family: Roboto;
    background-color: None;
}

QPushButton {
    font-family: Roboto;
    background-color: None;
}

QLineEdit {
    font-family: Roboto;
    background-color: None;
    color: None;
}

QTableView {
    font-family: Roboto;
    background-color: None;
    color: None;
}

QHeaderView::section {
    background-color: None;
    color: None;
}

QHeaderView {
    background-color: None;
    color: None
}